infrastructure_class=org.fogbowcloud.infrastructure.fogbow.FogbowInfrastructureManager
infrastructure_endpoint=http://localhost:8182

allocation_policy_class=org.fogbowcloud.capacityplanner.resource.SimpleLinearResourcePlanner
linear_allocation_jobs_per_resource=2

queue_class=org.fogbowcloud.capacityplanner.queue.FakeESCentralQueue
fake_queue_file_path=path/to/queue/file

infrastructure_credential_plugin_type=openstack 
infrastructure_credential_authUrl=http://150.165.15.107:5000 
infrastructure_credential_username=fogbow
infrastructure_credential_password=nc3SRPS2
infrastructure_credential_tenantName=fogbow

infrastructure_conf_update_interval=50

resource_property_image=fogbow-linux-x86
resource_property_flavor=fogbow_small
resource_property_type=persistent
resource_property_public_key=/path/to/public/key/file

resource_credential_username=username
resource_credential_private_key_file_path=/path/to/private/key/file
resource_credential_user_password=userpassword

capacity_execution_interval=1
monitoring_interval=1